* {
  color: #3c3c3c;
}

a {
  color: #3c3c3c;
}
h1 {
  font-family: "Bebas Neue", cursive;
}
h3 {
  font-family: "Montserrat", sans-serif;
}
p,
span {
  color: #3e3e3e;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
}

header {
  height: 750px;
  background-color: #fff9f4;
}

.col-md-6 img {
  width: 100%;
}

.my-container {
  /* min-width: 1200px; */
}
.navbar-brand img {
  width: 100%;
  z-index: 1;
}
.text-orange {
  color: #fa804c;
}
.text-nevyBlue {
  color: #363958;
}
.nav-ovarly {
  height: 57px;
  width: 100%;
  background-image: url(../icon/nav-ovarlay.png);
  background-repeat: no-repeat;
  position: relative;
  top: -10px;
  left: -20px;
  z-index: -1;
}

.rounded-5 {
  border-radius: 1.2rem;
}
.my-6 {
  margin: 5.8rem 0;
}
.flex-auto {
  flex: auto;
}
.fw-500 {
  font-weight: 500;
}

.menu-hover:hover {
  color: #fa804c;
}

.active {
  border-bottom: 3px solid #fa804c;
  transition: background-color 0.2s ease-in, color 0.2s ease-in-out;
}

.active:hover {
  background-color: #fa804c;
  border-radius: 4px;
  color: #fff;
}

.fas {
  color: #fff;
  margin-right: 0.6rem;
  transition: color 0.2s ease-in;
}

.btn-blue-gradient {
  background: linear-gradient(180deg, #3d4ff3 0%, #3543bc 100%);
  border-radius: 10px;
  padding: 1rem 2rem;
  color: #fff;
  font-size: 1rem;
  border: 2px solid #3d4ff3;
  transition: color 0.2s ease-in;
}

.btn-blue-gradient:hover {
  color: #3543bc;
  background: transparent;
  border: 2px solid #3543bc;
}
.btn-blue-gradient:hover .fas {
  color: #3543bc;
}

.fs-6rem {
  font-size: 6rem;
}
