* {
  color: #3c3c3c;
}

a {
  color: #3c3c3c;
  text-decoration: none;
}
h1 {
  font-family: "Bebas Neue", cursive;
}
h3 {
  font-family: "Montserrat", sans-serif;
}
p {
  color: #3e3e3e;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
}

header {
  height: 750px;
  background-color: #fff9f4;
}

.logo,
.headerImage {
  width: 100%;
}

.text-orange {
  color: #fa804c !important;
}
.text-nevyBlue {
  color: #363958;
}
.text-white {
  color: #fff;
  /* font-family: "Roboto", sans-serif; */
}
.nav-ovarly {
  height: 57px;
  width: 100%;
  background-image: url(../icon/nav-ovarlay.png);
  background-repeat: no-repeat;
  position: relative;
  top: -41px;
  left: 11px;
}

.rounded-5 {
  border-radius: 1.2rem;
}
.my-6 {
  margin-top: 5.8rem;
  padding-bottom: 12rem;
}
.flex-auto {
  flex: auto;
}
.fw-500 {
  font-weight: 500;
}

.menu-hover:hover {
  color: #fa804c;
}

.active {
  border-bottom: 3px solid #fa804c;
  background-color: #fa804c;
  border-radius: 4px;
  color: #fff;
  transition: background-color 0.2s ease-in, color 0.2s ease-in-out;
}

.active:hover {
  color: #fff;
}

.fas {
  color: #fff;
  margin-right: 0.6rem;
  transition: color 0.2s ease-in;
}

.btn-blue-gradient {
  background: linear-gradient(180deg, #3d4ff3 0%, #3543bc 100%);
  border-radius: 10px;
  padding: 1rem 2rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  border: 2px solid #3d4ff3;
  transition: color 0.2s ease-in, background 0.2s ease-in;
}
.btn-blue-gradient:hover {
  color: #ffffff;
  background: #fa804c;
  border: 2px solid #fa804c;
}
.btn-blue-gradient:hover .fas {
  color: #f5f5f5;
}
.navbar-toggler:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 20%);
}

.navbar-toggler:focus {
  outline: none !important;
  box-shadow: none;
}

.fs-6rem {
  font-size: 6rem;
}

.fs-4rem {
  font-size: 4rem;
}

.fs-2rem {
  font-size: 2rem;
}

.border-1rem {
  border-radius: 1.5rem;
  border: none;
}
.card-shadow {
  box-shadow: 1px 3px 6px rgb(0 0 0 / 20%);
}
.my-card-title {
  font-family: "Roboto", sans-serif !important;
  font-size: 1.3rem;
  font-weight: 700;
  color: #363958;
}

.price {
  color: #fa804c;
  font-size: 2.5rem;
  font-weight: bold;
}

.card {
  transition: transform 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: scale(0.99);
}

.divider {
  background: url(../img/h4-footer.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: cover;
  margin-bottom: -2px;
}

footer {
  background: #1b2c58;
}

footer p {
  font-size: 1rem;
}

footer h2 {
  font-size: 1.7rem;
  font-family: "Roboto", sans-serif;
}

.bottomInfo {
  width: 80%;
}
.bottomList li {
  color: #fff;
  /* list-style: none; */
}
.socialIcons {
  display: flex;
  justify-content: start;
}
.socialIcons img {
  width: 40px;
  cursor: pointer;
  margin-right: 5px;
}

.copyright {
  display: flex;
  justify-content: center;
  padding: 1rem 0.5rem;
  border-top: 1px solid gray;
  margin-top: 2rem;
}
.copyright p {
  color: #fff;
}

/* Tablet */
/* Phone Responsive */
@media (max-width: 768px) {
  .myContainer {
    max-width: 95%;
  }
  .logo {
    width: 100%;
  }
  .nav-ovarly {
    width: 0;
  }
  .fs-4rem {
    font-size: 2.5rem;
    text-align: center;
  }
  .fs-6rem {
    font-size: 4.5rem;
  }

  .find-perfect {
    flex-direction: column;
  }
  .find-perfect-col1,
  .find-perfect-col2 {
    width: 90%;
  }
}

/* Phone Responsive */
@media (max-width: 576px) {
  .logo {
    width: 60%;
  }

  .fs-4rem {
    font-size: 3rem;
    text-align: center;
  }
  .fs-6rem {
    font-size: 5rem;
  }

  header {
    height: 900px;
  }
  .text-align {
    text-align: center;
  }
}
